/******** 1 VARIABLES ****/
// Variables utilizadas

$font1: Arial, Helvetica, sans-serif;
$font2: "Times New Roman", Times, serif;
$font3: Georgia, "Times New Roman", Times, serif;

$color1: #675521;
$color2: #deddda;